
// Fonts
$font_path: '../../public/fonts/spsfonts/';
@import url('https://fonts.googleapis.com/css?family=Bitter:400,700|Lato|Merriweather+Sans:400,700|Open+Sans:400,700|PT+Sans:400,700|Roboto:300,400|Rokkitt:400,700|Source+Sans+Pro:300,400,700');
@font-face{
  font-family       : 'Eurostile LTS Demi';
  src               : url($font_path +'EurostileLTStd-Demi.otf') format("opentype");
}

@font-face{
  font-family       : 'Eurostile LTS DemiOblique';
  src               : url($font_path +'EurostileLTStd-DemiOblique.otf') format("opentype");
}

@font-face{
  font-family       : 'Eurostile LTS Ex2';
  src               : url($font_path +'EurostileLTStd-Ex2.otf') format("opentype");
}

@font-face{
  font-family       : 'Eurostile LTS Oblique';
  src               : url($font_path +'EurostileLTStd-Oblique.otf') format("opentype");
}

@font-face{
  font-family       : 'Eurostile LTS';
  src               : url($font_path +'EurostileLTStd.otf') format("opentype");
}

@font-face{
  font-family       : 'HelveticaNeue LTS';
  src               : url($font_path +'HelveticaNeueLTStd-It.otf') format("opentype");
}

@font-face{
  font-family       : 'HelveticaNeue LTS Lt';
  src               : url($font_path +'HelveticaNeueLTStd-Lt.otf') format("opentype");
}

@font-face{
  font-family       : 'HelveticaNeue Condensed';
  src               : url($font_path +'HelveticaNeueLTStd-LtCn.otf') format("opentype");
}

@font-face{
  font-family       : 'HelveticaNeue Italic';
  src               : url($font_path +'HelveticaNeueLTStd-LtCnO.otf') format("opentype");
}

@font-face{
  font-family       : 'HelveticaNeue Bold';
  src               : url($font_path +'HelveticaNeueLTStd-Hv.otf') format("opentype");
}

$helvetica: 'HelveticaNeue LTS Lt';
$eurostyle: 'Eurostile LTS Demi';
$fonttitlesize: 2em;
$colorpantonered: rgb(239,64,52);
$colorpantone254: rgb(145,38,143);
$colorpantone285: rgb(0, 124, 194);
$colorpantone368: rgb(122,193,66);
$colorpantone143: rgb(251, 175, 63);
$colorpantoneproblack: rgb(35,31,32);
$colorpantonecoolgray: rgb(187,189,192);
$colorpantonecoolgrayCool: rgb(109,110,112);
$pantonetext: rgb(109,110,112);

$backgroundimage: '/img/login_back.jpg';
$backgroundimage0: '/img/Background0.jpg';
$backgroundimage1: '/img/Background_16-9_1.jpg';
$backgroundimage2: '/img/Background_16-9_2.jpg';
$backgroundimage3: '/img/Background_16-9_3.jpg';
.el-button {
  display            : inline-block;
  line-height        : 1;
  white-space        : nowrap;
  cursor             : pointer;
  background         : #fff;
  border             : 1px solid #dcdfe6;
  color              : #606266;
  -webkit-appearance : none;
  text-align         : center;
  -webkit-box-sizing : border-box;
  box-sizing         : border-box;
  outline            : 0;
  margin             : 0;
  -webkit-transition : .1s;
  transition         : .1s;
  font-weight        : 500;
  font-size          : 14px;
  border-radius      : 4px;
  font-family        : 'Eurostile LTS Demi';
}

.send {
  color            : #fff !important;
  margin-right     : 10px;
  background-color : #231F20 !important;
  border-color     : #6D6E71 !important;
}
.pause {
  color            : #231F20 !important;
  margin-right     : 10px;
  background-color : #FBAF3F !important;
  border-color     : #6D6E71 !important;
}

@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald|Playfair+Display|Poppins|Raleway|Roboto');
// Variables
@import 'variables';
.sidebar .nav-link {
    display: block;
    padding: 0.35rem 1rem !important;
    color: #fff;
    text-decoration: none;
    background: transparent;
}
.l_radiusBorder{
    border-radius: 5px;
    box-shadow: 4px 4px 5px -3px rgba(35,31,32,0.5);
    margin: 5px 5px;
    padding: 0 5px;
}
.el_label{
  padding-top: 8px;
  padding-bottom: 0px;
  line-height: 1vw;
  font-size: 1vw;
  // font-family: 'Eurostile LTS';
  font-family: 'Source Sans Pro', sans-serif;
}
.form_line{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.ele_modelview_A{
  display        : flex;
  flex-direction : row;
  .el-form-item+.el-form-item{
    margin-left: 5px;
  }
  .el-upload-dragger{
    width: 100%;
    padding: 0 5px;
    height: 150px;
  }
  .topSideForm{
    width: 100%;
    height: 7vw;
    background-color: #231F20;
    text-shadow: 1px 1px 3px #231F20;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-style: bold;
    font-size: 2.8vw !important;
    color: #BBBDC0;
    font-family: 'Eurostile LTS Demi';
    // text-transform: uppercase;
    .logoGroup {
        display: flex;
        flex-direction: column;
        justify-content: center;
        img{
          height: 6vw;
        }
    }
    .textContainer{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .titleForm{
        font-size: 2.8vw !important;
        padding-top: 4px;
        display: flex;
        justify-content: flex-start;
        color: #BBBDC0;
        font-family: 'Eurostile LTS Demi';
        // text-transform: uppercase;
      }
  }
  .contRightSide{
    display          : flex;
    width            : 35%;
    flex-direction   : column;
    justify-content  : flex-start;
    background-color : #EBEAEA;
    .searchBox{
      margin-top: 5px;
    }
    .el-table{
      border-radius      : 5px !important;
      margin-top         : 5px;
    }
    .el-table td, .el-table th {
      font-size          : 12px !important;
      padding            : 5px 0 !important;
      min-width          : 0;
      -webkit-box-sizing : border-box;
      box-sizing         : border-box;
      text-overflow      : ellipsis;
      vertical-align     : middle;
      position           : relative;
      text-align         : left;
    }
  }
  .contLeftSide{
    display          : flex;
    width            : 100%;
    width            : 100%;
    display          : flex;
    flex-direction   : row;
    background-color : #EBEAEA;

  }
  .el-button--mini, .el-button--mini.is-round {
      padding: 4px 8px !important;
  }
  .el-button--mini, .el-button--small {
      font-size: 11px !important;
      border-radius: 3px !important;
  }
  .el-button--small, .el-button--small.is-round {
      padding: 9px 15px;
      font-size: 14px !important;
      border-radius: 3px !important;
  }
  $colorPrimary: #231F20;
  $colorPrimaryText: #BCBEC0;
  $colorPrimaryBorder: #6D6E71;
  $colorDisabled: #5F5C5C;
  $colorDisabledText: #BCBEC0;
  $colorDisabledBorder: #AFAFB1;
  .el-button--primary {
      color: colorPrimaryText;
      background-color: $colorPrimary;
      border-color: $colorPrimaryBorder;
  }
  .el-button--primary.is-disabled, .el-button--primary.is-disabled:active, .el-button--primary.is-disabled:focus, .el-button--primary.is-disabled:hover {
      color: $colorDisabledText;
      background-color: $colorDisabled;
      border-color: $colorDisabledBorder;
  }
  .el-button--primary:focus, .el-button--primary:hover {
      background: #6D6E71;
      border-color: #D9DBDC;
      color: #D9DBDC;
  }
  $colorInfo: #007CC2;
  $colorInfoText: #fff;
  $colorInfoBorder: #fff;
  .el-button--info {
      color: $colorInfoText;
      background-color: $colorInfo;
      border-color: $colorInfoBorder;
  }
  .el-button--info.is-disabled, .el-button--info.is-disabled:active, .el-button--info.is-disabled:focus, .el-button--info.is-disabled:hover {
      color: $colorDisabledText;
      background-color: $colorDisabled;
      border-color: $colorDisabledBorder;
  }
  .el-button--info:focus, .el-button--info:hover {
      background: #73B7DD;
      border-color: $colorInfoText;
      color: $colorInfoBorder;
  }
}

// Bootstrap
@import '~bootstrap/scss/bootstrap';
// ESTILO DE BOTONES MINI


// MODIFICACIONES DE TAMAÑO DEL ASIDE
.aside-menu {
  width: 350px !important;
}
.app-body .aside-menu {
    -ms-flex: 0 0 350px !important;
    flex: 0 0 350px !important;
}
html[dir="rtl"] .aside-menu {
  margin-left: -350px !important;
}
html:not([dir="rtl"]) .aside-menu {
  margin-right: -350px !important;
}
html:not([dir="rtl"]) .aside-menu-show .aside-menu, html:not([dir="rtl"]) .aside-menu-lg-show .aside-menu {
    margin-right: 0 !important;
}


.l_aside_table{
  overflow-y: scroll;
  height: 60vw;
}
.el-table__empty-text{
    width: 100% !important;
}
.buttonline{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 0.7rem;
  button{
    margin-left: 3px !important;
    width: 50%;
    padding: 7px 7px !important;
  }
}
.rowcentercontainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  .card{
    max-width: 125vh !important;
    width: 100% !important;
  }
}
.avatarcontainer{
  margin-right: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  img{
    height: 10vh;
  }
}
#editButtons{
	display: flex;
}
.button-btn{
	margin: auto;
}
#tableProv th,td{
	text-align:center;
}
.mainTitle{
	margin-top: 10vh;
	margin-bottom: 3vh;
	padding-top: 10px;
	padding-bottom: 10px;
}
#registerFormBox{
	width: 85vh;

}
h1 {
	text-align: center;
}
.infoBox{
	margin-top: 60px;
}
.formBox{
	
}
.testingDiv{
	text-align: center;
}
.l_titulo{
  color: rgba(35,31,32, 0.6);
  font-family: $eurostyle;
  text-shadow: 1px 1px 4px rgba(109, 110, 112, 0.6);
  &:hover {
    color: $colorpantoneproblack;
    text-shadow: 2px 2px 3px rgba(35,31,32, 0.6);
  } 
}
.icon-title{
	font-size: $fonttitlesize;
  padding: $fonttitlesize*0.15;
  border-radius: 50%;
  background-color: hsla(0, 0%, 0%, 1);
  color: white;
}
.titlebox{
	display: flex;
	flex-direction: row;
	div{
		margin: 2px;
		text-align: left;
	}
}
.main-text{
  font-family: $helvetica;
  color: $pantonetext;
  &:hover {
      color: $colorpantoneproblack;
      text-shadow: 1px 1px 2px rgba(109, 110, 112, 0.4);
  } 
}
.main-icon{
  color: $pantonetext;
}
.breadcrumb{
  margin-bottom: 0px !important;
  padding: 0.25rem 1rem !important;
  font-size: 0.7rem;
  font-family       : 'Roboto';
  font-weight: 200;

}
.container-fluid {
    // padding: 0 30px;
    // padding-top    : 0px !important;
    // padding-right  : 0px !important;
    // padding-bottom : 0px !important;
    // padding-left   : 0px !important;
}

.row {
  // margin: 0px !important;
}

.el-form-item__content .label{
  margin-bottom: -7px !important;
  line-height: 1.8rem !important;
  padding-left: 5px;
}

.el-form-item{
  margin-bottom: 5px !important;
}
.el-form-item__error{
  padding-top: 0px !important;
}
.l_label{
  margin-top: 2px;
  margin-bottom: 2px;
  color:rgba(109, 110, 113, 1);
  font-family: 'Eurostile LTS';
  font-size: 1 vh;
  // background-color: yellow;
}
.l_label.labelm{
  font-size: 0.85rem !important;
  line-height: 0.85rem !important;
  &:hover {
    font-size: 0.9rem !important;
    line-height: 0.9rem !important;
    font-weight: bold;
    color:rgba(36, 28, 20, 1);
  }
}
.l_label.labels{
  font-size: 0.75rem !important;
  line-height: 0.75rem !important;
  &:hover {
    font-size: 0.8rem !important;
    line-height: 0.8rem !important;
    font-weight: bold;
    color:rgba(36, 28, 20, 1);
  }
}
// .labelm:hover {
//   font-size: 1rem !important;
//   line-height: 1rem !important;
//   font-weight: bold;
//   color:rgba(36, 28, 20, 1);
// }
.boxshadow{
  background-color: rgba(255, 255, 255, 0.9);
  margin: 5px;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 2px 2px 5px 3px rgba(136, 136, 136, 0.6);
}
.app{
  background: url($backgroundimage1) no-repeat bottom center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  // background-image: ;
  // background-repeat: no-repeat;
  // background-position: right top;

  .appblur{
    // position: absolute;
    background: inherit;
    background-attachment: fixed;
    div{
      z-index: 1;
      box-sizing: border-box;
    }
  }
  .appblur::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-filter: blur(6px);
    filter: blur(4px);
    background:       linear-gradient(
        rgba(109, 110, 112, 0.8),
        rgba(35, 31, 32, 0.5)
      ), url($backgroundimage1) no-repeat center center fixed; 

  }
  .appblur::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    ;

    // background: rgba(0, 124, 194, 0.5);
    background: rgba(250, 250, 250, 0.5);

  }
}

.roundborder{
  border-radius: 5px;
}


// .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
//     padding-right: 0px !important;
//     padding-left: 0px !important;
// }


