@import url(https://fonts.googleapis.com/css?family=Bitter:400,700|Lato|Merriweather+Sans:400,700|Open+Sans:400,700|PT+Sans:400,700|Roboto:300,400|Rokkitt:400,700|Source+Sans+Pro:300,400,700);@import url(https://fonts.googleapis.com/css?family=Nunito);@import url(https://fonts.googleapis.com/css?family=Open+Sans|Oswald|Playfair+Display|Poppins|Raleway|Roboto);@font-face {
  font-family: "Eurostile LTS Demi";
  src: url(/fonts/EurostileLTStd-Demi.otf?8d4cfe95d8cc272c346bccedaf909230) format("opentype");
}

@font-face {
  font-family: "Eurostile LTS DemiOblique";
  src: url(/fonts/EurostileLTStd-DemiOblique.otf?704bb1e818573b4e6cbae0ca2c00fd13) format("opentype");
}

@font-face {
  font-family: "Eurostile LTS Ex2";
  src: url(/fonts/EurostileLTStd-Ex2.otf?5215fdcc236f6cde4604ff86e7f20654) format("opentype");
}

@font-face {
  font-family: "Eurostile LTS Oblique";
  src: url(/fonts/EurostileLTStd-Oblique.otf?b9aba8dbdb73473094fb25cc3931a937) format("opentype");
}

@font-face {
  font-family: "Eurostile LTS";
  src: url(/fonts/EurostileLTStd.otf?17fae39a01baa65c1fadc386b4f74df2) format("opentype");
}

@font-face {
  font-family: "HelveticaNeue LTS";
  src: url(/fonts/HelveticaNeueLTStd-It.otf?3eb8ab854858e61423548c668f01945c) format("opentype");
}

@font-face {
  font-family: "HelveticaNeue LTS Lt";
  src: url(/fonts/HelveticaNeueLTStd-Lt.otf?06137036ee2d59941c9bda383866b943) format("opentype");
}

@font-face {
  font-family: "HelveticaNeue Condensed";
  src: url(/fonts/HelveticaNeueLTStd-LtCn.otf?69bb65349ebc2378ef0fd08d6494d30f) format("opentype");
}

@font-face {
  font-family: "HelveticaNeue Italic";
  src: url(/fonts/HelveticaNeueLTStd-LtCnO.otf?5684bc37743ea1baf36154a86656b005) format("opentype");
}

@font-face {
  font-family: "HelveticaNeue Bold";
  src: url(/fonts/HelveticaNeueLTStd-Hv.otf?19f8d00e507858a750cc961c7e45562c) format("opentype");
}

.el-button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #dcdfe6;
  color: #606266;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  transition: 0.1s;
  font-weight: 500;
  font-size: 14px;
  border-radius: 4px;
  font-family: "Eurostile LTS Demi";
}

.send {
  color: #fff !important;
  margin-right: 10px;
  background-color: #231F20 !important;
  border-color: #6D6E71 !important;
}

.pause {
  color: #231F20 !important;
  margin-right: 10px;
  background-color: #FBAF3F !important;
  border-color: #6D6E71 !important;
}

.sidebar .nav-link {
  display: block;
  padding: 0.35rem 1rem !important;
  color: #fff;
  text-decoration: none;
  background: transparent;
}

.l_radiusBorder {
  margin: 5px 5px;
  padding: 0 5px;
  border: 2px solid #d1d3d8;
}

.el_label {
  padding-top: 8px;
  padding-bottom: 0px;
  line-height: 1vw;
  font-size: 1vw;
  font-family: "Source Sans Pro", sans-serif;
}

.form_line {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.ele_modelview_A {
  display: flex;
  flex-direction: row;
}

.ele_modelview_A .el-form-item + .el-form-item {
  margin-left: 5px;
}

.ele_modelview_A .el-upload-dragger {
  width: 100%;
  padding: 0 5px;
  height: 150px;
}

.ele_modelview_A .topSideForm {
  width: 100%;
  height: 5vw;
  background-color: #87888A;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-style: bold;
  font-size: 2.8vw !important;
  color: #BBBDC0;
  font-family: "Eurostile LTS Demi";
}

.ele_modelview_A .topSideForm .logoGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ele_modelview_A .topSideForm .logoGroup img {
  height: 3.5vw;
}

.ele_modelview_A .topSideForm .textContainer {
  padding-left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ele_modelview_A .topSideForm .titleForm {
  margin-left: 5px;
  font-size: 2.8vw !important;
  padding-top: 4px;
  display: flex;
  justify-content: flex-start;
  color: #fff;
  font-family: "Eurostile LTS Demi";
}

.ele_modelview_A .contRightSide {
  display: flex;
  width: 35%;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #EBEAEA;
}

.ele_modelview_A .contRightSide .searchBox {
  margin-top: 5px;
}

.ele_modelview_A .contRightSide .el-table {
  border-radius: 5px !important;
  margin-top: 5px;
}

.ele_modelview_A .contRightSide .el-table td,
.ele_modelview_A .contRightSide .el-table th {
  font-size: 12px !important;
  padding: 5px 0 !important;
  min-width: 0;
  box-sizing: border-box;
  text-overflow: ellipsis;
  vertical-align: middle;
  position: relative;
  text-align: left;
}

.ele_modelview_A .contLeftSide {
  display: flex;
  width: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #EBEAEA;
}

.ele_modelview_A .el-button--mini,
.ele_modelview_A .el-button--mini.is-round {
  padding: 4px 8px !important;
}

.ele_modelview_A .el-button--mini,
.ele_modelview_A .el-button--small {
  font-size: 11px !important;
  border-radius: 3px !important;
}

.ele_modelview_A .el-button--small,
.ele_modelview_A .el-button--small.is-round {
  padding: 9px 15px;
  font-size: 14px !important;
  border-radius: 3px !important;
}

.ele_modelview_A .el-button--primary {
  color: #BCBEC0;
  background-color: #231F20;
  border-color: #6D6E71;
}

.ele_modelview_A .el-button--primary.is-disabled,
.ele_modelview_A .el-button--primary.is-disabled:active,
.ele_modelview_A .el-button--primary.is-disabled:focus,
.ele_modelview_A .el-button--primary.is-disabled:hover {
  color: #BCBEC0;
  background-color: #5F5C5C;
  border-color: #AFAFB1;
}

.ele_modelview_A .el-button--primary:focus,
.ele_modelview_A .el-button--primary:hover {
  background: #6D6E71;
  border-color: #D9DBDC;
  color: #D9DBDC;
}

.ele_modelview_A .el-button--info {
  color: #fff;
  background-color: #007CC2;
  border-color: #fff;
}

.ele_modelview_A .el-button--info.is-disabled,
.ele_modelview_A .el-button--info.is-disabled:active,
.ele_modelview_A .el-button--info.is-disabled:focus,
.ele_modelview_A .el-button--info.is-disabled:hover {
  color: #BCBEC0;
  background-color: #5F5C5C;
  border-color: #AFAFB1;
}

.ele_modelview_A .el-button--info:focus,
.ele_modelview_A .el-button--info:hover {
  background: #73B7DD;
  border-color: #fff;
  color: #fff;
}

.aside-menu {
  width: 350px !important;
}

.app-body .aside-menu {
  flex: 0 0 350px !important;
}

html[dir=rtl] .aside-menu {
  margin-left: -350px !important;
}

html:not([dir=rtl]) .aside-menu {
  margin-right: -350px !important;
}

html:not([dir=rtl]) .aside-menu-show .aside-menu,
html:not([dir=rtl]) .aside-menu-lg-show .aside-menu {
  margin-right: 0 !important;
}

.l_aside_table {
  overflow-y: scroll;
  height: 60vw;
}

.el-table__empty-text {
  width: 100% !important;
}

.buttonline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 0.7rem;
}

.buttonline button {
  margin-left: 3px !important;
  width: 50%;
  padding: 7px 7px !important;
}

.rowcentercontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.rowcentercontainer .card {
  max-width: 125vh !important;
  width: 100% !important;
}

.avatarcontainer {
  margin-right: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.avatarcontainer img {
  height: 10vh;
}

#editButtons {
  display: flex;
}

.button-btn {
  margin: auto;
}

#tableProv th,
td {
  text-align: center;
}

.mainTitle {
  margin-top: 10vh;
  margin-bottom: 3vh;
  padding-top: 10px;
  padding-bottom: 10px;
}

#registerFormBox {
  width: 85vh;
}

h1 {
  text-align: center;
}

.infoBox {
  margin-top: 60px;
}

.testingDiv {
  text-align: center;
}

.l_titulo {
  color: rgba(35, 31, 32, 0.6);
  font-family: "Eurostile LTS Demi";
  text-shadow: 1px 1px 4px rgba(109, 110, 112, 0.6);
}

.l_titulo:hover {
  color: #231f20;
  text-shadow: 2px 2px 3px rgba(35, 31, 32, 0.6);
}

.icon-title {
  font-size: 2em;
  padding: 0.3em;
  border-radius: 50%;
  background-color: black;
  color: white;
}

.titlebox {
  display: flex;
  flex-direction: row;
}

.titlebox div {
  margin: 2px;
  text-align: left;
}

.main-text {
  font-family: "HelveticaNeue LTS Lt";
  color: #6d6e70;
}

.main-text:hover {
  color: #231f20;
  text-shadow: 1px 1px 2px rgba(109, 110, 112, 0.4);
}

.main-icon {
  color: #6d6e70;
}

.breadcrumb {
  margin-bottom: 0px !important;
  padding: 0.25rem 1rem !important;
  font-size: 0.7rem;
  font-family: "Roboto";
  font-weight: 200;
}

.el-form-item__content .label {
  margin-bottom: -7px !important;
  line-height: 1.8rem !important;
  padding-left: 5px;
}

.el-form-item {
  margin-bottom: 5px !important;
}

.el-form-item__error {
  padding-top: 0px !important;
}

.l_label {
  margin-top: 2px;
  margin-bottom: 2px;
  color: #6d6e71;
  font-family: "Eurostile LTS";
  font-size: 1 vh;
}

.l_label.labelm {
  font-size: 0.85rem !important;
  line-height: 0.85rem !important;
}

.l_label.labelm:hover {
  font-size: 0.9rem !important;
  line-height: 0.9rem !important;
  font-weight: bold;
  color: #241c14;
}

.l_label.labels {
  font-size: 0.75rem !important;
  line-height: 0.75rem !important;
}

.l_label.labels:hover {
  font-size: 0.8rem !important;
  line-height: 0.8rem !important;
  font-weight: bold;
  color: #241c14;
}

.boxshadow {
  background-color: rgba(255, 255, 255, 0.9);
  margin: 5px;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 2px 2px 5px 3px rgba(136, 136, 136, 0.6);
}

.app {
  background: url("/img/Background_16-9_1.jpg") no-repeat bottom center fixed;
  background-size: cover;
}

.app .appblur {
  background: inherit;
  background-attachment: fixed;
}

.app .appblur div {
  z-index: 1;
  box-sizing: border-box;
}

.app .appblur::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(6px);
  filter: blur(4px);
  background: linear-gradient(rgba(109, 110, 112, 0.8), rgba(35, 31, 32, 0.5)), url("/img/Background_16-9_1.jpg") no-repeat center center fixed;
}

.app .appblur::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(250, 250, 250, 0.5);
}

.roundborder {
  border-radius: 5px;
}

