
.bloque{
	display : table;
	border  : 1px solid black;
	width   : 100%;
}
.planilla{
	width  : 216mm;
	height : 279mm;
	border : 1px solid black;
	padding: 2.5cm 2cm;
	display: flex;
	flex-direction: column;
	justify-content: initial;
	font-family: 'Lato', sans-serif;
}
.logo{
	margin: 15px;
	height: 60px;
}
.header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.databloq{
	display: flex;
	flex-direction: column;
}
.databloq{
	font-size: 0.5rem;
}
.logocontainer{
	display: flex;
	flex-direction: columns;
	justify-content: center;
}
.header .bloque{
	height: 2.55cm;
}
.bloqrow{
	display: flex;
	border: 1px solid black;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}
.header div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.campo{
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 1px solid black;
	height: .7cm;
	font-size: .65rem;
}
.campor{
	display: flex;
	flex-direction: row;
	justify-content: center;
	border: 1px solid black;
	height: 1.2cm;
	font-size: .9rem;
}
.formbloq{
	text-align: center;
	display: flex;
}
.titulo{
	width: 100%;
	background-color: #BBBDC0;
	border: 1px solid black;
	text-align: center;
	font-size: .75rem;
	height: .5cm;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.checkox{
	width: 10px;
	height:10px;
	margin: 3px;
	border: 1px solid black;
	align-self: flex-end;
}
.check{
	display: flex;
	flex-direction: row;
	align-content: flex-start
}
.labelgrey{
	text-align: center;
}
.sign{
	border: 1px solid black;
	height: .7cm;
	font-size: .7rem;
	display: flex;
	flex-direction: row;
}